<div>
	<h3>Display {{type}} for {{user.firstname}} {{user.lastname}}</h3>
	
	<div class="form-horizontal">	
		<span class="badge badge-success">GET</span>
		&nbsp;&nbsp;
		<span><strong>/{{type}}?userLogin={{login}}</strong></span>		
	</div>
	<br />
	<button type="button" class="btn btn-primary text-center"
		ng-click="listTweets()">Execute</button>
</div>
<hr />
<div>
	<div>
		<ui-include src="'assets/views/templates/common.html'" fragment="'#server-reply'"/>
	</div>
	<div>
		<ui-include src="'assets/views/templates/common.html'" fragment="'#tweet-line'"/>
	</div>
</div>